registry=http://registry.npm.htsc
disturl=http://repo-dev.htsc/artifactory/public-npm-binary-virtual/binaries/node/
sharp_binary_host=http://repo-dev.htsc/ui/native/public-npm-binary-virtual/binaries/sharp/
sharp_libvips_binary_host=http://repo-dev.htsc/ui/native/public-npm-binary-virtual/binaries/sharp-libvips
